body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

body, html {
    height: 100%;
}

.hero-txt {
  padding: 120px;
  color: #f7f7f7;
  font-weight: 300;
}
/*-webkit-
-moz-
-o-
-ms-*/
.car-row {
  margin-top: 15px;
}



.car-img {
  max-width: 100%;
  height:auto;

}

.car-title {
  color: #991633;
  font-weight: 300;
}

.car-description {
  margin-bottom: 40px;
}


.button-custom {
  background-color: #991633;
  color: #f7f7f7;
  padding: 10px 14px 10px 14px;
  margin-bottom: 20px;
}

.form-padding {
  padding: 20px;
}

li.active.form-tab {
  border-bottom: 0;
}

#map {
  height: 210px;
  width: 100%;
  border: 1px solid #979797;
  overflow: hidden;
  margin-bottom: 20px;
}
.sub-headings {
  height:70px;
  background-color: #f7f7f7;
  padding: 15px;
  margin-top: 20px;
  border-bottom: 1px solid #991633;
}

.lead-img {
  display: block;
  overflow: hidden;
  filter: grayscale(100%);
  transition: filter 300ms;
}

.image-wrapper {
  position: absolute;
}

.img-hover-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333;
  opacity: 0.5;
}

.img-hover-inner-hovered {
  opacity: 0;
}

.lead-img:hover {
  filter: grayscale(0%);
  transition: 300ms;
}


.lead-img-caption {
  position: relative;
  top: 30%;
  color: #fff;
  font-weight: 300;
  margin: 10px;
}

.lead-designation {
  color: #262222;
}

.glyph-red {
  color: #991633;
}
.lead-description{
  margin: 0 10px 0 10px;
}

.small-img {
  margin: 10px 5px 5px 5px;
  filter: grayscale(100%);
  transition: filter 300ms;
  max-width: 100px;
}

.small-img:hover {
  filter: grayscale(0%);
  transition: 300ms;
}

.small-caption {
  font-size: 18px;
  margin: 14px 0 0 0;

}

.small-description {
  font-size: 12px;
}

.small-designation{
  font-size: 14px;
  margin:0 0 10px 0;
}

.small-thumbnail {
  min-height: 110px;
  padding: 10px;
}


.sub-headings-text {
  font-weight: 300;

}



.headings {
  margin: 100px 0 0 0px;
}

.page-headings {
  font-weight: 300;
  border-bottom: 2px solid #991633;
  display: inline;

}

.contact-wrapper {
  margin: 30px auto;
  position: relative;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}


.margin-zeros {
    margin: 0;
}

.center-me {
  width: 300px;
  margin: 0 auto;
}

.giphy {
    background-color: #333;
    margin: 0 auto;
    max-width: 300px;

}

.hero-image {
    background-color: #333;
    background-image: url("../assets/images/hero.jpg");
    height: 80%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


li.active {
  border-bottom: 2px solid #991633;
  background-color:  transparent;
}

li.active:hover {
  border-bottom: 0;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
}


.nav.navbar-nav.navbar-right li a {
    border-top: 2px solid transparent;
    color: #f7f7f7;
    font-weight: 200;
    letter-spacing: 0;
    background-color: transparent;
}

.nav.navbar-nav.navbar-right li a:hover {
  border-bottom: 2px solid #991633;
}


.navbar-inverse .navbar-text {
    color: #f7f7f7;
    font-weight: 200;

}

.navbar-brand {
  padding: 8px 5px 8px 8px;
  margin: 0;
}

.navbar {
  background-color: rgba(0,0,0,0.7);
  border: 0;
  border-radius: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

}


.logo {
  height: 30px;
}

.zero-mp {
  margin: 0;
  padding: 0;
}

.social-icons-footer {
  margin: 0 10px 0 10px;
  height: 28px;
}
.social-footer {
  max-width: 270px;

  padding: 20px 10px 20px 10px;

}
.copyright-wsr {
  padding: 20px 10px 20px 10px;
  float: left;
  font-weight: 300;

}

.site-by-kewal {
  padding: 20px 0 20px 0;
  float: right;
  font-weight: 300;

}

.footer-sponsors {
  height: 70px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
}

.sponsors-font {
  font-weight: 300;
}

.footer-line {
  background-color: #991633;
  height: 3px;
  color: red;
}
